.login a {
	background-color: #bbd1ea;
	display: inline-block;
	border-radius: 100px;
	color: black;
	text-align: center;
	padding: 3px 20px;
	margin: 10px 10px;
	font-size: 25px;
	cursor: pointer;
}

.logout {
	background-color: #ffffff;
	display: inline-block;
	border-radius: 100px;
	color: black;
	text-align: center;
	padding: 3px 20px;
	margin: 10px 10px;
	word-spacing: 20px;
	font-size: 25px;
	cursor: pointer;
}
