.music {
	width: 90%;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px;
	display: flex;
	background-color: #ffffff;
	color: rgb(0, 5, 50);
	border-radius: 12px;
	flex-flow: column wrap;
	max-height: 140px;
}
.music img {
	height: 60px;
}

.music-left {
	display: flex;
	overflow: hidden;
	white-space: nowrap;
	width: 300px;
}

.music h2 {
	font-size: 20px;
}

.music h3 {
	font-size: 18px;
}

.music h4 {
	font-size: 15px;
}

.music-name {
	text-align: left;
	margin-left: 10px;
}

.track-button {
	border: none;
	display: inline-block;
	border-radius: 100px;
	padding: 10px 20px;
	margin: 10px 10px;
	font-size: 15px;
	cursor: pointer;
	color: #bbd1ea;
}

.select {
	background-color: #323031;
}

.deselect {
	background-color: #5f5b6b;
}

.select-align {
	text-align: right;
}

@media all and (max-width: 1100px) {
	.music-left {
		margin-right: 10px;
		width: 600px;
	}
}

@media all and (max-width: 900px) {
	.music-left {
		width: 500px;
	}
}

@media all and (max-width: 800px) {
	.music-left {
		width: 400px;
	}
}

@media all and (max-width: 670px) {
	.music {
		padding: 5px 10px 2px 10px;
		margin-left: 4px;
		margin-right: 4px;
		display: inline-block;
		width: 90%;
		margin-top: 0px;
		margin-bottom: 10px;
	}

	.music img {
		height: 50px;
	}

	.music-left {
		margin-right: 10px;
		width: 350px;
	}
	.music h2 {
		font-size: 17px;
	}

	.music h3 {
		font-size: 14px;
	}

	.music h4 {
		font-size: 10px;
	}

	.select {
		font-size: 12px;
		margin-top: 8px;
		margin-left: 2px;
		margin-bottom: 5px;
	}
	.deselect {
		font-size: 12px;
		margin-top: 8px;
		margin-left: 2px;
		margin-bottom: 5px;
	}

	.select-align {
		text-align: center;
	}
}

@media all and (max-width: 500px) {
	.music-left {
		width: 300px;
	}
}

@media all and (max-width: 400px) {
	.music-left {
		width: 200px;
	}

	.music {
		width: 95%;
	}
}
